streamlit
streamlit_option_menu
streamlit_pdf_viewer
pymupdf4llm
pdfplumber
camelot-py[base]
opencv-python-headless
matplotlib
openpyxl
pandas
numpy
pdfminer.six
pdf2image
pypdfium2
pytesseract
img2table
paddlepaddle
paddleocr
deepdoctection==0.46
transformers
huggingface_hub>=0.35.0
python-doctr==1.0.0
torch
torchvision
torchaudio